.js-subscribe{
    color: #fff;
    background-color: black;   
    padding: 8px; 
    border-radius: 15px;
    border: none;
    font-weight: bold; 
    cursor: pointer;
}

.rps {
    margin-top: 50px;
}

.calculate-button{
    padding: 7px;
    color: #fff;
    background-color: green;
    border: 1px;
}

.js-cost-input{
    padding: 5px;
}

.change-color { background-color: gray };

